<%= render "shared/navbar"%>

<div class = "home_page_container">
  <div class = "home_page_greet">
    <h1> Welcome to<br> 
    TARDIS Lanruoj!</h1>
    <h5> Your Time And Relative Dimension In Space Journal </h5>
    <h2> It's bigger on the inside!</h2>

    <% if user_signed_in? %>
      <button type="button" class="btn btn-outline-light"><%= link_to 'Dashboard', categories_path, class: 'nav-link-dashboard' %></button>
    <% else %>
      <button type="button" class="btn btn-outline-light"><%= link_to 'Try me now!', new_user_registration_path, class: 'nav-link-dashboard' %></button>
    <%end%>
  </div>
  
  <div class="g-col-6">
    <%= image_tag("bg1.png", :alt => "rss feed", :class => "home_page_image") %>
  </div>
</div>